{% extends 'base.html.twig' %}

{% block title %}Banco Residente - Login{% endblock %}

{% block body %}
<section class="bg-gray-900 text-white">
  <div class="max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 ">
    <div class="max-w-xl">
      <h2 class="text-3xl font-bold sm:text-4xl">Bem vindo ao Banco Residente</h2>

      <p class="mt-4 text-gray-300">
        Um banco com produtos exclusivos para você Residente.
      </p>
      <br />


            <nav aria-label="Breadcrumb">
            <ol
                role="list"
                class="flex items-center gap-1 text-sm text-gray-600 dark:text-gray-300"
            >
                <li>
                <a
                    href="{{ path('app_index') }}"
                    class="block transition hover:text-gray-700 dark:hover:text-gray-200"
                >
                    <span class="sr-only"> Home </span>

                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                    />
                    </svg>
                </a>
                </li>

                <li>
                <a
                    href="{{ path('app_login') }}"
                    class="block transition hover:text-gray-700 dark:hover:text-gray-200"
                >
                    Login
                </a>
                </li>

            </ol>
            </nav>


<div class="max-w-screen-xl">

  <form action="{{ path('app_login') }}" method='POST' class="mt-8 mb-0 max-w-md space-y-4">
    <div>
      <label for="email" class="">Email</label>

      <div class="relative">
        <input
          type="text"
          name="_username"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-gray-800 text-sm shadow-sm"
          placeholder="Informe seu e-mail"
        />

      </div>
    </div>

    <div>
      <label for="password" class="">Senha</label>
      <div class="relative">
        <input
          type="password"
          name="_password"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-gray-800 text-sm shadow-sm"
          placeholder="Sua senha"
        />

        
      </div>
      <input type="hidden" name='_target_path' value='/' />
    </div>

    <div class="flex items-left justify-between">
      

      <button
  class="group relative inline-flex items-center overflow-hidden rounded bg-indigo-600 px-8 py-3 text-white focus:outline-none focus:ring active:bg-indigo-500"
  type="submit"
>
  <span
    class="absolute right-0 translate-x-full transition-transform group-hover:-translate-x-4"
  >
    <svg
      class="h-5 w-5"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 8l4 4m0 0l-4 4m4-4H3"
      />
    </svg>
  </span>

  <span class="text-sm font-medium transition-all group-hover:mr-4">
    Entrar
  </span>
</button>
    </div>
  </form>
</div>


    </div>
  </div>
</section>
{% endblock %}
